<div>
    <div class="container">
        <div class="row px-4 px-sm-0">
            <div class='col mt-4'>
                <h1>My Watchlist</h1>
            </div>
        </div>
        <div *ngIf="isWatchListEmpty;">
            <div class="row px-4 px-sm-0">
                <div class="col text-center alert alert-warning" role="alert">
                    Currently you don't have any stock in your watchlist
                </div>
            </div>    
        </div>
        <div *ngIf="!isWatchListEmpty;">
            
            <div *ngIf="isLoading" class="is-loading spinner" layout="row" layout-align="center center">
                <mat-spinner mode="indeterminate" diameter="60"></mat-spinner>
            </div>
            <ng-container *ngIf="!isLoading">
                <div class="px-4 px-sm-0 row" *ngFor="let item of watchlistData; let i = index"  >
                    
                        <div class="col-12 watchlist-item alert fade show border alert-light mb-3" [routerLink]="['/details', item.ticker]" >
                            <div class="row">
                                <div class="col">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeFromWatchList(i, $event)">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <div class='row bold'>
                                <div class="col">
                                    {{ item.ticker }}
                                </div>
                                <div class="col align-end" [ngClass]="{ 'positive': item.isChangePos , 'negative': item.isChangeNeg }">
                                    {{ item.last | number:'1.2-2'}}
                                </div>
                            </div>
                            <div class='row'>
                                <div class="col">
                                    {{ item.name }}
                                </div>
                                <div class="col align-end" [ngClass]="">
                                    <span *ngIf="item.isChangePos" class="positive"> 
                                        <svg width="0.8em" height="0.8em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                        </svg>
                                        {{ item.change | number:'1.2-2' }} ({{ item.perChange | number:'1.2-2' }} &#37;)
                                    </span>
                                    <span *ngIf="item.isChangeNeg" class="negative">
                                        <svg width="0.8em" height="0.8em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                        {{ item.change | number:'1.2-2' }} ({{ item.perChange | number:'1.2-2'}} &#37;)
                                    </span>
                                    <span *ngIf="!item.isChangePos && !item.isChangeNeg"> 
                                        {{ item.change | number:'1.2-2' }} ({{ item.perChange | number:'1.2-2' }} &#37;)
                                    </span>
                                </div>
                            </div>
                        </div>
    
                </div>
            </ng-container>
            
        </div>

    </div>
    
</div>
