.footer {

    background-color: 	#dcdcdc;
    bottom: 0;
}


.active-route {
    border:2px solid #ded6fb;
    border-radius: 10px;
    outline: none;
}

.nav-item a {
    color: #9f8cfa ;
}

.active-route, .navbar-brand {
    color: #ded6fb !important;
}

