<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Calc Utils</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active' : urlText == '/home'}" aria-current="" routerLink="home">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active' : urlText == '/portfoliotracker'}" routerLink="portfoliotracker">Portfolio Tracker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active' : urlText == '/allocationsplitter'}" routerLink="allocationsplitter">Allocation spliter</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div style="overflow-y: auto; max-height: calc(100vh - 56px);">
    <router-outlet></router-outlet>
  </div>

