<div class="container" style="margin-top: 5em;">

    <div class="row">
        <h3>Stocks Form
            <span class="right-sm">
                <button type="button" class="btn btn-primary" *ngIf="!isEdit" (click)="Save()">Save</button>
                <button type="button" class="btn btn-primary" *ngIf="isEdit" (click)="Update()">Update</button>
                <button type="button" class="btn btn-secondary" (click)="Cancel()">cancel</button>
            </span>
        </h3>
    </div>

    <form class="card" [formGroup]="stocksForm">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-lg-6">Stock Name</label>
                    <input type="text" formControlName="stockName" (drop)="$event.preventDefault()"
                        (paste)="$event.preventDefault()" class="form-control form-control-sm">
                    <span class="text-danger" *ngIf="submitted && s.stockName.errors?.required">Stock Name is
                        Required</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Buy Price</label>
                    <input type="text" formControlName="price" (blur)="calculateTotalInvestment()"
                        (drop)="$event.preventDefault()" (paste)="$event.preventDefault()"
                        (keypress)="numericDecimal($event)" class="form-control form-control-sm">
                    <span class="text-danger" *ngIf="submitted && s.price.errors?.required">Buy Price is Required</span>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label for="">Quantity</label>
                    <input type="text" formControlName="quantity" (blur)="calculateTotalInvestment()"
                        (drop)="$event.preventDefault()" (paste)="$event.preventDefault()"
                        (keypress)="onlyNumeric($event)" class="form-control form-control-sm">
                    <span class="text-danger" *ngIf="submitted && s.quantity.errors?.required">Quantity is
                        Required</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-lg-6">Sector</label>
                    <input type="text" formControlName="sector" (drop)="$event.preventDefault()"
                        (paste)="$event.preventDefault()" class="form-control form-control-sm">
                    <span class="text-danger" *ngIf="submitted && s.sector.errors?.required">Sector is Required</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Market Cap</label>
                    <input type="text" formControlName="marketCap" (drop)="$event.preventDefault()"
                        (paste)="$event.preventDefault()" (keypress)="numericDecimal($event)"
                        class="form-control form-control-sm">
                    <span class="text-danger" *ngIf="submitted && s.marketCap.errors?.required">Market Cap is
                        Required</span>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label for="">Total Investment</label>
                    <input type="text" formControlName="totalInvestment" (drop)="$event.preventDefault()"
                        (paste)="$event.preventDefault()" (keypress)="numericDecimal($event)"
                        class="form-control form-control-sm">
                    <span class="text-danger" *ngIf="submitted && s.totalInvestment.errors?.required">Total Investment
                        is Required</span>
                </div>
            </div>
            <div class="col-md-4">
                <label for="">Current Price</label>
                <input type="text" formControlName="currentPrice" class="form-control form-control-sm">
            </div>
        </div>
    </form>

    <div class="card" style="margin-top: 2em;">
        <div class="row">
            <h3>Available Stocks</h3>
        </div>
        <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort >
            <ng-container matColumnDef="SerialNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  No.
                </th>
                <td mat-cell *matCellDef="let element;let i = index"> {{i + 1}} </td>
              </ng-container>
              <ng-container matColumnDef="stockName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Stock Name
                </th>
                <td mat-cell *matCellDef="let element"> {{element.stockName}} </td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Price
                </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
              </ng-container>
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Quantity
                </th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
              </ng-container>
              <ng-container matColumnDef="sector">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Sector
                </th>
                <td mat-cell *matCellDef="let element"> {{element.sector}} </td>
              </ng-container>
              <ng-container matColumnDef="marketCap">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Market Cap
                </th>
                <td mat-cell *matCellDef="let element"> {{element.marketCap}} </td>
              </ng-container>
              <ng-container matColumnDef="totalInvestment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Total Investment
                </th>
                <td mat-cell *matCellDef="let element"> {{element.totalInvestment}} </td>
              </ng-container>
              <ng-container matColumnDef="currentPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Current Price
                </th>
                <td mat-cell *matCellDef="let element"> {{element.currentPrice}} </td>
              </ng-container>
              <ng-container matColumnDef="currentValue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Current Value
                </th>
                <td mat-cell *matCellDef="let element"> {{element.currentValue}} </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef style="width:15%">
                    Actions
                </th>
                <td mat-cell *matCellDef="let element">
                    <button type="button" class="btn btn-primary" (click)="Edit(element)">Edit</button>
                    <button type="button" class="btn btn-danger" (click)="Delete(element.id)">Delete</button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div class="card" style="margin-top:2em;">
        <div class="row">
            <h3>Portfolio</h3>
        </div>
        <div class="row">
            <div class="col-sm-6">Number of Stocks</div>
            <div class="col-sm-6">{{stocksList.length}}</div>
        </div>
        <div class="row">
            <div class="col-sm-6">Total Investments</div>
            <div class="col-sm-6">{{totalAmount}}</div>
        </div>
    </div>

    <div class="card" style="margin-top:2em;">
        <div class="row">
            <h3>Available Stocks</h3>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div echarts [options]="chartOptionBar" class="demo-chart"></div>
            </div>
            <div class="col-sm-6">
                <div echarts [options]="chartOption" class="demo-chart"></div>
            </div>
        </div>
        
    </div>
    <div class="card" style="margin-top:2em;">
        <div class="row">
            <h3>Comparision</h3>
        </div>
        <div class="row">
            <div class="col">
                <div echarts [options]="chartOptionCompare" class="demo-chart"></div>
            </div>
        </div>
    </div>
</div>