/* You can add global styles to this file, and also import other style files */
.right-sm{
    right: 0;
    float: right;
}
.right-sm > *{
    margin-left: 10px;
}
.card{
    margin:5px;
    border: 0px !important;
}