/* You can add global styles to this file, and also import other style files */
 
body {
    padding: 0px;
    margin: 0px;
	/* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}


/* nav a {
    color: white !important;
    
}

nav a:hover {
	color: gray !important;	
} */


.navbar {
    background-color: #714ef9 !important;
}

.navbar-custom {
    background-color: #714ef9 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.spinner {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.align-end {
    text-align: end;
}

.positive {
    color: green;
}

.negative {
    color: red;
}


/* .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: 	#dcdcdc;
    overflow: auto;
} */

